/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-size: 2.5em;
}
h1 {
  letter-spacing: 0.25rem;
  font-weight: 800;
  text-align: center;
}
h3 {
  font-weight: 500;
  text-align: center;
}

hr {
  margin-top: 0rem;
  margin-bottom: 1rem;
  border-width: 0;
  border-top: 2px solid #E1E1E1; }

/* Projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.projects {
  background-image: url('../images/kor.png');
  background-size: cover;
  color: #fff;
}

.project {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.description {
  text-align: justify;
}

/* Pictures
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.profile {
  position: relative;
  border-radius: 50px 100px 50px 10px;
  max-width: 100%;
  margin: auto;
}

/* Awards
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.awards {
  background-image: url('../images/team.png');
  background-size: cover;
  color: #fff;
}
.value-multiplier {
  margin-bottom: .5rem;
  font-weight: 500;
  text-align: center;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
  text-align: center;
  font-weight: 400;
}
.value-description {
  opacity: .7;
  text-align: center;
  font-weight: 300;
}

/* Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact {
  text-align: center;
  font-size: 18px;
}
.contact-img {
  opacity: 0.4;
  transition: opacity 0.5s;
  color: black;
}
.contact-img:hover {
  opacity: 0.8;
}

.no-margin {
  margin: 0px;
}

/* Credits
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.credits {
  text-align: center;
  opacity: 0.6;
  font-weight: 100;
}